@font-face {
  font-family: 'Avenir-LT-Std';
  src: url('../assets/fonts/Avenir-LT-Std-45-book.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../assets/fonts/Muli-Regular.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/Roboto-Light.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('opentype');
  font-display: swap;
}
